.container {
  width: 1200px;
  margin: var(--spacing-lg) auto;
}

.container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-lg);
  margin: var(--spacing-lg) 0;
}
