.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  font-size: 1em;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-sm);
  outline: none;
}

.container:hover {
  cursor: pointer;
}

.variant-1 {
  background-color: var(--accent-1);
  color: var(--fg-1);
  border: none;
}

.variant-2 {
  background-color: transparent;
  color: var(--fg-1);
  border: 1px var(--fg-1) solid;
}

.variant-error {
  background-color: var(--error-bg-2);
  color: var(--error-fg-2);
  border: none;
}
