.container {
  border-radius: var(--radius-lg);
  padding: var(--spacing-lg);
}

.variant-1 {
  background-color: var(--card-bg-1);
  border: var(--card-border-1);
}

.variant-2 {
  background-color: var(--card-bg-2);
  border: var(--card-border-2);
}
